#root {

  padding-top: 2rem;
  text-align: center;
  background-color: #242424;

}

body{
    background-color: #242424;
}



@media (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
    margin-top: 5vw;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  .detalles {
    padding: 1.5rem;
  }
  
  h5 {
    font-size: 2rem;
  }
  
  .infoPerso p {
    font-size: 1rem;
    max-width: 90%;
    text-align: center;
  }
}